body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #de0a0a;
}
.head {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eb8015;
    color: #fff;
    padding: 10px 20px;
}

.head .back, .head .clear {
    cursor: pointer;
}

.ad-page-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="number"], .form-group input[type="tel"] {
    width: 50%;
}

.form-group select {
    appearance: menulist;
}

.form-group textarea {
    resize: vertical;
}

.form-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button[type="submit"]:hover {
    background-color: #444;
}

/*  */