{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigitalCart</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <div id="page" class="site">
        <header>
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Featured Products</a></li>
                                <li><a href="#">Wishlist</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="flexitem main-links">
                                <li><a href="/app1/login">Login/register</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">My Orders</a></li>
                                <li><a href="#">UGX<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>
                                    <ul>
                                        <li class="current"><a href="#">UGX</a></li>
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">EURO</a></li>
                                        <li><a href="#">RAND</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">English<span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>
                                    <ul>
                                        <li class="current">English<a href="#"></a></li>
                                        <li><a href="#"></a>Chinese</li>
                                        <li><a href="#"></a>German</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header top -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><i class="ri-menu-add-fill"></i></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="#"><span class="circle"></span>.DigitalCart</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Shop</a></li>
                                    <li class="has-child">
                                        <a href="#">Women
                                            <div class="icon-small"><i class="ri-arrow-down-s-line"></i></div>
                                        </a>
                                        <div class="mega">
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Women's Clothing</h4>
                                                            <ul>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Jewelry</h4>
                                                            <ul>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Beauty</h4>
                                                            <ul>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Top Brands</h4>
                                                            <ul class="women-brands">
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                                <li><a href="#">DigitalCart</a></li>
                                                            </ul>
                                                            <a href="#" class="view-all">View all brands<i class="ri-arrow-right-line"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol products">
                                                        <div class="row">
                                                            <div class="media">
                                                                <div class="thumbnail object-cover">
                                                                    <a href="">
                                                                        <img src="assets/products/apparel4.jpg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="text-content">
                                                                <h4>Most Wanted!</h4>
                                                                <a href="#" class="primary-button">Order now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#">Men</a></li>
                                    <li>
                                        <a href="#">Sports
                                            <div class="fly-item"><span>New!</span></div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="mobile-hide"><a href="#">
                                    <div class="icon-large"><i class="ri-heart-line"></i></div>
                                    <div class="fly-item"><span class="item-number">0</span></div>
                                </a></li>
                                <li><a href="#" class="iscart">
                                    <div class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly-item"><span class="item-number">0</span></div>
                                    </div>
                                    <div class="icon-text">
                                        <div class="mini-text">Total</div>
                                        <div class="cart-total">000UGX</div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-nav -->
        </header>
    </div>

</body>
</html>